main {
    display: flexbox;
    background-image: url('./background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


img {
    height: 250px;
    width: 200px;
    justify-content: flex-end;
}

 p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:turquoise;
    font-weight: 200;
}

strong {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    color: darkturquoise;
    text-decoration: underline;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: turquoise;
    text-decoration: double;
}

.button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: #3498db;
  }
  
  /* Glowing animation */
  a.button ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #91caef;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .button :hover::before {
    transform: scaleX(1);
    opacity: 1;
    color: white;
    z-index: 0;
  }

  @media only screen and (max-width: 600px){
    img {
        width: 100px;
        height:150px;
    }
    h1 {
        font-weight: 500;
        font-size: medium;
    }
    p {
        font-size: xx-small;

    }
    strong {
        font-size: x-small;
        text-decoration: underline;
    }

    .button {
        font-size: xx-small;
    }
    body {
        min-height:inherit;
        max-width: inherit;

    }
}