main {
    height: 250px;
    background-image:url('./background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.question-container {
    text-align: center;
    margin: 50px;
    padding: 130px;
    bottom: 50px;
  }
  
  .buttons {
    display: inline-block;
  }
  
  
  #yesButton, #noButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-image: linear-gradient(to right, #4CAF50, #2196F3);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Hover effect */
  #yesButton :hover {
    background-image: linear-gradient(to right, #2196F3, #4CAF50);
    color: #fff;
  }
  
  #noButton:hover {
   
        position: relative;
        left: 10px; 
  }

  #messageContainer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #messageContainer h2 {
    margin: 0;
    font-size: 18px;
  }
h1 {
    color:#E50FF4
}
  @media only screen and (max-width: 600px) {
    body{
        height: 500px;
        width: 100%;
    }
    
        
    
   .question-container{
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: small;
    text-wrap: nowrap;
    justify-content: space-around;
   }
    .button {
        padding: 0px;
        display: inline;
        justify-content: center;
        max-width: inherit;
        max-height: inherit;
    }
  }