main {
    background-image: url('./background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    width: 100%;
}

p  {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#E50FF4;
    font-weight: 200;
}

strong {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    color: #E50FF4;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E50FF4;
}

 #javaScript li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    font-weight: lighter;
}

 #html li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    font-weight: lighter;
}


@media only screen and (max-width: 600px) {
    h2{
        font-size: medium;

    }
    strong{
        font-size: small;
    }
    p {
        font-size: x-small;
    }
    li {
        font-size: x-small;
    }
    body {
        max-width: inherit;
        max-width: inherit;
    }
}