main {
    background-image: url('./background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:wheat;
    font-weight: 200;
}

strong {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    color: rgb(109, 110, 110);
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
}

P {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
}